*{box-sizing: border-box;
margin: 0;
padding: 0;}

.container{
    position: relative;
    width: 400px;
    height: 300px;
    border: 2px dashed #120303;
    margin: 2 rem auto;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 150px;
    height: 100px;
    background-color: #3498db;
    color: beige;
}

.box-one{
    position:relative
    top:50px;
    left:80px;
}

.box-two{
    position: absolute
    top:60px;
    left:80px;
}